.log {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .2rem;
    box-sizing: border-box;
}

.log--filters {
    background-color: white;
    text-align: center;
    margin: 0 .2rem;
    box-sizing: border-box;
}

.log--filters h4 {
    margin: 0;
    font-size: 1.3rem;
    color: var(--bluegreen);
}

.search--activities {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 1.1rem;
}

.search--activities input {
    transform: scale(1.5);
}

.search--activities label {
    padding: .2rem .4rem .2rem .1rem;
}

.search--bottom {
    display: flex;
    align-items: center;
    margin: .2rem;
    padding: 0;
}

.search--clear {
    color: var(--green);
    text-align: center;
}

.search--date input {
    height: 1.2rem;
    margin: .5rem .6rem .5rem .4rem;
}

.search--date label {
    margin: 0;
}

.logList {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.card {
    flex: 1;
    padding: .5rem;
    margin: .5rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 15px #888888;
}

.card p {
    margin: 0;
}

.card h3 {
    margin: 0;
    font-weight: 500;
}

.card--date {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--bluegreen);
}

.card--activities {
    display: flex;
    margin: 0;
}

.card--bottom {
    display: flex;
    justify-content: space-between;
}