.forecast {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.forecast--list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.forecast--card {
    background-color: white;
    margin: .2rem;
    border-radius: 15px;
    padding: .4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast h3 {
    margin: 0;
    text-align: center;
}

.forecast--stats {
    display: flex;
    width: 100%;
    margin: .2rem;
    justify-content: center;
}

.forecast--desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast--desc h4 {
    margin: 0;
}

.forecast--icon {
    display: flex;
    justify-content: center;
}

.forecast--icon img {
    height: 100%; 
    object-fit: cover;
    margin: 0;
}

.forecast--temp {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    text-align: left;
    flex: 1;
}

.forecast--temp h3 {
    margin: 0;
    font-size: 1.7rem;
    text-align: left;
}

.forecast--temp p {
    margin: 0;
}

.forecast--health {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.forecast--sun {
    display: flex;
    width: 100%;
    justify-content: space-between;
}