header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--light-green);
    color: white;
}

.title {
    flex: 2;
    padding: 0 .5rem;
}

.userLogo {
    text-align: right;
    text-justify: center;
    flex: 1;
    padding: 0 .5rem;

}
