.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .2rem;
    box-sizing: border-box;
}

.reminders {
    width: 100%;
    border: 1px dashed black;
}
.main-actions {
    display: flex;
    width: 100%;
}

.dashboard--block {
    background-color: white;
    margin: .4rem;
    border-radius: 15px;
    padding: .4rem;
}

.addNew {
    /* box-shadow: -3px 10px 18px #888888; */
    position: fixed;
    bottom: 3em;
    right: 20px;
}

.currentWeather {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.currentWeather h3 {
    margin: 0;
    text-align: center;
}

.currentWeather--desc h4 {
    margin: 0 .4rem;
}

.currentWeather--stats {
    display: flex;
    align-items: center;
    margin: .4rem;
}

.currentWeather--temp {
    padding-left: .2rem;
    text-align: right;
}

.currentWeather--temp h3 {
    margin: 0;
    font-size: 2rem;
    text-align: right;
}

.currentWeather--temp p {
    margin: 0;
}

.water {
    flex: 1;
    background-color: var(--blue);
    color: white;
    text-align: center;
}

.logEntries {
    display: flex;
    width: 100%;
}

.lastEntry {
    flex: 1;
    border: 1px dashed black;
}

.nextSchedule {
    flex: 1;
    border: 1px dashed black;
}