.front--window {
    height: 100vh;
    overflow: hidden;
    text-align: center;
    background-color: var(--light-green);
    background-image: url("../../images/lawn-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 700%;
    color: white;
}

.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.login h1 {
    margin: 12vh 0 5vh;
    font-size: 3rem;
}

.login button {
    width: 40%;
    margin: 1rem auto;
    padding: .4rem;
    border-radius: 10px;
    background-color: var(--bluegreen);
    color: white;
    box-shadow: 5px 5px 12px #5f5f5f;
}

.login--form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.login--fields {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.front--window input {
    margin: .2rem;
    border-radius: 10px;
    padding: .4rem;
}

.front--window select {
    margin: .2rem;
    border-radius: 10px;
    padding: .4rem;
    height: 2.3rem;
}

.login--button {
    flex: 1;
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    border: 0;
}

.form--page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form--page-1 {
    margin-top: 3rem;
}
.form--page-2 {
    margin-top: 10rem;
}
.form--page-3 {
    margin-top: 30vh;
}
.form--page-4 {
    margin-top: 3rem;
}
.form--page-5 {
    margin-top: 3rem;
}

label {
    display: inline-block;
    flex: 0 1 20%;
    padding: .3rem .5rem;
    text-align: right;
}

fieldset input {
    flex: 0 0 60%;
    margin: 0rem 1rem;
    height: 22px;
}

fieldset select {
    height: 25px;
    margin: 0 1rem;
}

.form--row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem 0;
}

.lotSize {
    flex-direction: column;
    justify-content: flex-start;
}

.googleEarth {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 15px;
    padding: .5rem;
    margin: 1rem;
}

.googleEarth p {
    text-align: center;
    margin: 0;
}

.googleEarth ul {
    margin: 0;
}

.form--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.form--confirm {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.registration--button {
    width: 40%;
    margin: 1rem auto;
    padding: .4rem;
    border-radius: 10px;
    background-color: var(--bluegreen);
    color: white;
    box-shadow: 5px 5px 12px #5f5f5f;
}