/* Color palette */
:root {
    --light-green: #72A83D;
    --green: #3E7C07;
    --blue: #126C64;
    --grey: #C3C9A6;
    --bluegreen: #2A7C30;
}

/* Google fonts: Catamaran for main body, Mulish for numbers, Merriweather for wordmark, Pinyon Script for tagline */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@400;500;600;700;800&family=Merriweather:wght@400;700&family=Pinyon+Script&display=swap');


body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.content-window {
    position: relative;
    min-height: 100vh;
    background-color: var(--grey);
    font-family: 'Catamaran', sans-serif;
    border-radius: 10px;
}